<!DOCTYPE html>
<html lang="en">
<!--[if IE 7]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="en"><![endif]-->
<!--[if !IE]><html lang="en"><![endif]-->
<head>
	<meta charset="utf-8">
	<script src="js/wow.min.js"></script>
	<script>
		wow = new WOW(
			{
				boxClass:     'wow',      // default
				animateClass: 'animated', // default
				offset:       0,          // default
				mobile:       true,       // default
				live:         true        // default
			}
		)
		wow.init();
	</script>
	<script src="js/lib/modernizr.js"></script>
	<script src="js/lib/pace.js"></script>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<title>Kylin-demo</title>
	
	<meta name="robots" content="index, nofollow">
	<meta name="description" content="A demo website of Apache Kylin">
	<meta name="keywords" content="Kylin, demo, tutorial">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/lib/font-awesome.min.css">
	<link rel="stylesheet" href="css/lib/magnific-popup.css">
	<link rel="stylesheet" href="css/lib/lite.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/blue.css">
	<link rel="stylesheet" href="css/block.css">
	<link rel="stylesheet" href="css/node.css">
	<link rel="stylesheet" href="css/bubble.css">
	<link rel="stylesheet" href="css/box.css">
	<link rel="stylesheet" href="css/table.css">
	<link rel="stylesheet" href="css/ng-grid.css">
	<link href="css/jquery-ui.css" rel="stylesheet">
	<link rel="stylesheet" href="css/nv.d3.min.css">

	
	<link rel="shortcut icon" href="images/favicon/favicon.ico">
</head>


<body class="body-push personal auto-close-menu" ng-app="kylinApp">
	<div class="content" ng-controller="transCtrl">
		<!-- Slides -->
		<section id="slides">
			<div style="background-image: url('images/placeholder-slide-2.jpg');" class="fullscreen-image1">
				<p style="position:relative; top:20px; right:20px" ng-switch="lan" class="wow bounceInUp" data-wow-delay="0.3s">
					<a href="" class="lang" ng-switch-when="zh" style="position: relative; float:right;" ng-click="changeLanguage('en')">English</a>
					<a href="" class="lang" ng-switch-when="en" style="position: relative; float:right;" ng-click="changeLanguage('zh')">中文</a>
				</p>
				<div class="header-center fade-in">
					<img src="images/logo1.png" alt="logo" class="kylin-logo2 wow bounceInDown" data-wow-delay="0.5s">
					<h1 class="fittext white wow bounceInUp" data-wow-delay="0.3s">{{ 'Welcome to Apache Kylin' | translate }}</h1>
					<p class="uppercase white wow bounceInUp" data-wow-delay="0.5s">{{ 'Extreme OLAP Engine for Big Data' | translate }}</p>
					<p><a href="#position" class="button-large withmargin white-border wow bounceInUp" data-wow-delay="0.7s">{{ 'Quick Tutorial' | translate }}<i class="fa fa-fw fa-angle-double-down" style="font-size: 15px"></i></a></p>
				</div>
			</div>
		</section>

		<!-- Set position -->
		<section id="position" class="position"></section>

		<!-- Query -->
		<section id="query" class="query">
			<div class="row widerow wow bounceInUp" data-wow-delay="0.3s">
				<div class='col-xs-3 tables' ng-controller="tableCtrl">
					<h3 id="blue">{{ 'Tables' | translate }}</h3>
					<ul ng-repeat="table in tables">
						<span><a onClick="inputTab()">{{table.table_NAME}}</a></span>
						<li ng-repeat="column in table.columns"><a onClick="inputTab()">{{column.column_NAME}} {{!!(column.type_NAME)?'(' + trimType(column.type_NAME) + ')' : ''}}</a></li>
					</ul>
				</div>
				<div class='box col-xs-9' >
					<div class='box-header'>
						<h3 class='box-title'>{{ 'Interactive' | translate }} <small>{{ 'OLAP on hadoop' | translate }}</small></h3>
					</div>

					<div class='box-body pad' ng-controller="gridCtrl">
						{{firstName}}
						<form>
							<textarea id="queryarea"class="textarea"  style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
							<div class="row no-spacing">
								<div class="offset-by-eight-point-five text-left">
									<p><a href="#query" class="button no-margin" ng-click="submitQuery()">{{ 'Try Me' | translate }} <i class="fa fa-fw fa-hand-o-up" style="font-size: 15px"></i></a></p>
								</div>
							</div>
						</form>
						<div class="loading" ng-if="queryState">
							<i class="fa fa-spinner fa-spin loadicon"></i>
							{{ 'executing' | translate }}
						</div>
						<div class="row" style="width:100%;" ng-if="queryFinish">
							<h5 class="col-xs-4" style="padding-left:3px;">{{ 'Response time' | translate }}: {{restime/1000 | number: 2}}s</h5>
							<h5 class="col-xs-6">{{ 'Result length' | translate }}: {{curQuery.result.results.length}}</h5>
							<p class="col-xs-2" style="padding-right:0px;"><button class="btn btn-default btn-xs" style="float:right;"
							ng-click="curQuery.graph.show=!curQuery.graph.show;buildGraphMetadata(curQuery);resetGraph(curQuery);refreshGraphData(curQuery)">
								<span ng-if="!curQuery.graph.show"><i class="fa fa-bar-chart-o"></i> {{ 'Visualization' | translate }}</span>
								<span ng-if="curQuery.graph.show"><i class="fa fa-list-ul"></i> {{ 'Grid' | translate }}</span>
							</button></p>
						</div>
						<div id="result-grid" ng-if="queryFinish && !curQuery.graph.show">
							<div class="gridStyle" ng-grid="gridOptions" style="height: 300px; width:auto;"></div>
						</div>
						<div ng-if="queryFinish && curQuery.graph.show">
							<div class="row" style="width:100%;">
								<label style="float:left; height: 22px; line-height: 22px; padding-left:3px;">{{ 'Graph Type' | translate }}:</label>
								<select style="float:left; width: 100px; height: 22px; line-height: 22px; margin-left: 15px;" class="form-control" ng-model="curQuery.graph.type" ng-change="resetGraph(curQuery);refreshGraphData(curQuery)" ng-options="type as type.name for type in chartTypes"></select>
								
								<label style="float:left; height: 22px; line-height: 22px; padding-left:35px;">Dimensions:</label>
								<select style="float:left; width: 150px; height: 22px; line-height: 22px; margin-left: 15px;" class="form-control" ng-model="curQuery.graph.state.dimensions" ng-change="refreshGraphData(curQuery)" ng-options="dimension as dimension.column.label for dimension in curQuery.graph.meta.dimensions | filter: mappingToChartype"><option value="">-- {{ 'choose' | translate }} --</option></select>
								
								<label style="float:left; height: 22px; line-height: 22px; padding-left:35px;">Metrics:</label>
								<select style="float:left; width: 150px; height: 22px; line-height: 22px; margin-left: 15px;" class="form-control" ng-if="curQuery.graph.type.metrics.multiple" multiple  ng-model="curQuery.graph.state.metrics" ng-options="metrics as metrics.column.label for metrics in curQuery.graph.meta.metrics" ng-change="refreshGraphData(curQuery)"><option value="">-- {{ 'choose' | translate }} --</option></select>
								<select style="float:left; width: 150px; height: 22px; line-height: 22px; margin-left: 15px;" class="form-control" ng-if="!curQuery.graph.type.metrics.multiple" ng-model="curQuery.graph.state.metrics" ng-options="metrics as metrics.column.label for metrics in curQuery.graph.meta.metrics" ng-change="refreshGraphData(curQuery)"><option value="">-- {{ 'choose' | translate }} --</option></select>
							</div>
							<div ng-if="curQuery.graph.type.value == 'line'">
								<nvd3-line-chart
									height="300"
									data="curQuery.graph.data"
									xAxisTickFormat="xAxisTickFormatFunction()"
									showXAxis="true"
									showYAxis="true"
									noData="No Graph"
									clipVoronoi="true"
									interactive="true"
									tooltips="true"
									color="colorFunction()"
								>
									<svg></svg>
								</nvd3-line-chart>
							</div>
							<div ng-if="curQuery.graph.type.value == 'bar'">
								<nvd3-multi-bar-chart
								data="curQuery.graph.data"
								height="300"
								showXAxis="true"
								showYAxis="true"
								noData="No Graph or Excessive number of Dimensions"
								showLegend="true"
								interactive="true"
								tooltips="true"
								>
									<svg></svg>
								</nvd3-multi-bar-chart>
							</div>
							<div ng-if="curQuery.graph.type.value == 'pie'">
								<nvd3-pie-chart
								data="curQuery.graph.data"
								height="300"
								x="xFunction()"
								y="yFunction()"
								noData="No Graph"
								tooltips="true"
								showLabels="true"
								>
									<svg></svg>
								</nvd3-pie-chart>
							</div>
						</div>
					</div>
				</div>
			</div>
			<p><a href="#data-model" class="button-large dark-border">{{ 'Data Model' | translate }}<i class="fa fa-fw fa-angle-double-down" style="font-size: 15px"></i></a></p>
			<!--a href="#data-model" class="down"><i class="icon-angle-down"></i></a-->
		</section>

		<!-- data-model -->
		<section id="data-model" class="data-model">
			<div class="row">
				<div class="ten columns offset-by-one title wow bounceIn">
					<h1>{{ 'Glance over' | translate }}</h1>
					<h2>{{ 'Data Model' | translate }}</h2>
					<hr>
				</div>
			</div>

			<div class="row widerow">
				<!--div>
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
					<path class="link" d="M0,200C90,200 90,66.66666666666667 180,66.66666666666667"></path>
					</svg>
				</div-->
				<div class="col-xs-7 wow rotateInDownLeft">
					<div id="tree-container" style="width:640px; height:400px;"></div>
					<script src="js/d3.min.js"></script>

					<script src="js/tree.js"></script>
				</div>
				<div class="col-xs-5 schema wow rotateInDownRight">
					<h3>{{ 'Data Model' | translate }}:  <normal>{{dataModel}}</normal></h3>
					<h3>{{ 'Fact Table' | translate }}:  <normal>{{factTable}}</normal></h3>
					<h3>{{ 'Lookup Table' | translate }}:  <normal>{{lookupTable}}</normal></h3>
					<h6><normal>{{ 'Check' | translate }} <a href="http://kylin.incubator.apache.org/docs/gettingstarted/terminology.html">{{ 'here' | translate }}</a> {{ 'to learn the related terminology' | translate }}</normal></h6>
				</div>
			</div>
			<p><a href="#position2" class="button-large withmargin white-border">{{ 'Cube Design' | translate }}<i class="fa fa-fw fa-angle-double-down" style="font-size: 15px"></i></a></p>
		</section>

		<!-- Set position -->
		<section id="position2" class="position2"></section>

		<!-- Cube name -->
		<section id="cube-name" class="cube-name">
			<div class="row">
				<div class="ten columns offset-by-one title wow bounceIn">
					<h2 class="grey">Cube <span class="normal">airline</span></h2>
				</div>
			</div>
		</section>

		<!-- Cube design -->
		<section id="cube-design" class="cube-design tip1" ng-controller="cubeCtrl">
			<div ng-repeat="cube in cubes">
			<div class="row fadeInLeftBig wow">
				<h1 class="dimensions">Dimensions</h1>
				<br />
				<div>
					<table class="table table-striped">
						<tr>
							<td>{{ 'Name' | translate }}</td>
							<td>{{ 'Table Name' | translate }}</td>
							<td>{{ 'Type' | translate }}</td>
							<td>{{ 'Detail' | translate }}</td>
						</tr>
						<tr ng-repeat="dimension in cube.dimensions">
							<td>{{dimension.name}}</td>
							<td>{{dimension.table}}</td>
							<td>
								<span ng-repeat="t in getDimType(dimension)">{{t}}<span ng-switch="t"><i class="fa fa-fw fa-question" ng-switch-when="normal" title="{{normal}}"></i><i class="fa fa-fw fa-question" ng-switch-when="derived" title="{{derived}}"></i><i class="fa fa-fw fa-question" ng-switch-when="hierarchy" title="{{hierarchy}}"></i></span></span>
							</td>
							<td>
								<div ng-repeat="t in getDimType(dimension)">
									<div ng-switch="t">
										<dl ng-switch-when="hierarchy">
											Hierarchy {{dimension.column}}
										</dl>
										<dl ng-switch-when="derived">
											Derived {{dimension.derived}}
										</dl>
										<dl class="dl-horizontal" ng-switch-when="normal">
											Column {{dimension.column}}
										</dl>
									</div>
							</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row fadeInRightBig wow">
				<h1 class="measures">Measures</h1>
				<br />
				<div>
					<table class="table table-striped">
						<tr>
							<td>{{ 'Name' | translate }}</td>
							<td>{{ 'Expression' | translate }}</td>
							<td>{{ 'Param Type' | translate }}</td>
							<td>{{ 'Param Value' | translate }}</td>
							<td>{{ 'Return Type' | translate }}</td>
						</tr>
						<tr ng-repeat="measure in cube.measures">
							<td>{{measure.name}}</td>
							<td>{{measure.function.expression}}</td>
							<td>{{measure.function.parameter.type}}</td>
							<td>{{measure.function.parameter.value}}</td>
							<td>{{measure.function.returntype}}</td>
						</tr>
					</table>
				</div>
			</div>
			</div>
			<br />
			<br />
			<!--a href="#workflow" class="down"><i class="icon-angle-down"></i></a-->
			<p style="margin-bottom: 0px"><a href="#workflow" class="button-large withmargin2 dark-border">{{ 'Build Workflow' | translate }}<i class="fa fa-fw fa-angle-double-down" style="font-size: 15px"></i></a></p>
		</section>

		<!-- Workflow -->
		<section id="workflow" class="workflow tip2" ng-controller="stepCtrl">
			<!-- Title -->
			<div class="row">
				<div class="ten columns offset-by-one title wow bounceIn">
					<h2>{{ 'Build Workflow' | translate }}</h2>
					<hr>
				</div>
			</div>

			<!-- steps first row -->
			<div class="row widerow wow fadeInUp">
				<!-- start step -->
				<div class=" work-section-grid desktop-two-point-four columns">
					<div>
						<h3>{{ 'start' | translate }}</h3>
						<p class="step">{{ 'Job Name' | translate }}: {{jobName}}</p>
						<p class="step" ng-if="(num + 1) % 5 == 0">{{ 'Duration' | translate }}: {{(duration/60 | number:2) + ' mins'}}</br>{{ 'MapReduce Waiting' | translate }}: {{(mrWaiting/60 | number:2) + ' mins'}}</p>
						<span class="arrow1"><img src="images/arrow1.png" alt="" /></span>
					</div>
				</div>

				<!-- steps 1-3 -->
				<div ng-repeat="step in steps" ng-if="$index < 3" class="work-section-grid desktop-two-point-four columns" title="{{pops[step.name]}}">
					<div class="wow fadeInUp" data-wow-delay="{{wowdelay(step.order)}}s">
						<h3>{{ 'step' | translate }} {{step.order+1}}</h3>
						<p class="step">{{step.name}}</p><p class="step" ng-if="step.info.hdfs_bytes_written">{{ 'Data Size' | translate }}: {{dataSize(step.info.hdfs_bytes_written)}}</p><p class="step">{{ 'Duration' | translate }}: {{step.exec_start_time != 0 ?  (step.exec_end_time != 0 ? ((step.exec_end_time - step.exec_start_time)/1000/60 | number:2) + ' mins' : '0 seconds') : '0 seconds'}}</p>
						<span class="arrow1"><img src="images/arrow1.png" alt="" /></span>
					</div>
				</div>

				<!-- step end -->
				<div ng-if="num < 4" class=" work-section-grid desktop-two-point-four columns">
					<div class=" wow fadeInUp" data-wow-delay="{{wowdelay(num)}}s">
						<h3>{{ 'end' | translate }}</h3>
						<p class="step">{{ 'Duration' | translate }}: {{(duration/60 | number:2) + ' mins'}}</br>{{ 'MapReduce Waiting' | translate }}: {{(mrWaiting/60 | number:2) + ' mins'}}</p>
					</div>
				</div>

				<!-- step 4 -->
				<div ng-if="num >= 4" class="work-section-grid desktop-two-point-four columns" title="{{pops[steps[3].name]}}">
					<div class="wow fadeInUp" data-wow-delay="{{wowdelay(steps[3].order)}}s">
						<h3>{{ 'step' | translate }} 4</h3>
						<p class="step">{{steps[3].name}}</p><p class="step" ng-if="steps[3].info.hdfs_bytes_written">{{ 'Data Size' | translate }}: {{dataSize(steps[3].info.hdfs_bytes_written)}}</p><p class="step">{{ 'Duration' | translate }}: {{steps[3].exec_start_time != 0 ?  (steps[3].exec_end_time != 0 ? ((steps[3].exec_end_time - steps[3].exec_start_time)/1000/60 | number:2) + ' mins' : '0 seconds') : '0 seconds'}}</p>
						<span class="arrow3" ng-if="num != 4"><img src="images/arrow3.png" alt="" /></span>
					</div>
				</div>
			</div>

			<div class="wow fadeInUp">
			<div ng-repeat="step in steps" ng-if="($index + 1) % 5 == 0 && ($index + 1) % 2 == 1">
			<!-- steps reverse rows -->
			<div class="row widerow" >
				<!-- step like 9 -->
				<div ng-if="num >= $parent.$index + 5" class="work-section-grid desktop-two-point-four columns" title="{{pops[steps[$index + 4].name]}}">
					<div class="wow fadeInUp" data-wow-delay="{{wowdelay($parent.$index + 4)}}s">
						<h3>{{ 'step' | translate }} {{$parent.$index + 5}}</h3>
						<p class="step">{{steps[$parent.$index + 4].name}}</p><p class="step" ng-if="steps[$parent.$index + 4].info.hdfs_bytes_written">{{ 'Data Size' | translate }}: {{dataSize(steps[$parent.$index + 4].info.hdfs_bytes_written)}}</p><p class="step">{{ 'Duration' | translate }}: {{steps[$parent.$index + 4].exec_start_time != 0 ?  (steps[$parent.$index + 4].exec_end_time != 0 ? ((steps[$parent.$index + 4].exec_end_time - steps[$parent.$index + 4].exec_start_time)/1000/60 | number:2) + ' mins' : '0 seconds') : '0 seconds'}}</p>
						<span class="arrow4" ng-if="($parent.$index + 1) / 5 + 1 != rownum"><img src="images/arrow4.png" alt="" /></span>
					</div>
				</div>

				<!-- steps vacant -->
				<div ng-repeat="step in steps" ng-if="$index < vacantnum && ($parent.$index + 1) / 5 + 1 == rownum" class="work-section-grid desktop-two-point-four columns">
				</div>

				<!-- step end -->
				<div ng-if="num > $parent.$index && num < $parent.$index + 5" class=" work-section-grid desktop-two-point-four columns">
					<div class=" wow fadeInUp" data-wow-delay="{{wowdelay(num)}}s">
						<h3>{{ 'end' | translate }}</h3>
						<p class="step">{{ 'Duration' | translate }}: {{(duration/60 | number:2) + ' mins'}}</br>{{ 'MapReduce Waiting' | translate }}: {{(mrWaiting/60 | number:2) + ' mins'}}</p>
					</div>
				</div>

				<!-- steps like 5-8 -->
				<div ng-repeat="step in steps | orderBy:'-order'" ng-if="$index <= num - $parent.$index - 1 && $index > num - $parent.$index - 5" class="work-section-grid desktop-two-point-four columns" title="{{pops[step.name]}}">
					<div class="wow fadeInUp" data-wow-delay="{{wowdelay(step.order)}}s">
						<h3>{{ 'step' | translate }} {{step.order + 1}}</h3>
						<p class="step">{{step.name}}</p><p class="step" ng-if="step.info.hdfs_bytes_written">{{ 'Data Size' | translate }}: {{dataSize(step.info.hdfs_bytes_written)}}</p><p class="step">{{ 'Duration' | translate }}: {{step.exec_start_time != 0 ?  (step.exec_end_time != 0 ? ((step.exec_end_time - step.exec_start_time)/1000/60 | number:2) + ' mins' : '0 seconds') : '0 seconds'}}</p>
						<span ng-if="($parent.$parent.$index + 1) / 5 + 1 == rownum" class="arrow5"><img src="images/arrow5.png" alt="" /></span>
					</div>
				</div>
			</div>

			<!-- steps rows -->
			<div class="row widerow" >
				<!-- steps like 10-13 -->
				<div ng-repeat="step in steps" ng-if="$index >= $parent.$index + 5 && $index < $parent.$index + 9" class="work-section-grid desktop-two-point-four columns" title="{{pops[step.name]}}">
					<div class="wow fadeInUp" data-wow-delay="{{wowdelay(step.order)}}s">
						<h3>{{ 'step' | translate }} {{step.order + 1}}</h3>
						<p class="step">{{step.name}}</p><p class="step" ng-if="step.info.hdfs_bytes_written">{{ 'Data Size' | translate }}: {{dataSize(step.info.hdfs_bytes_written)}}</p><p class="step">{{ 'Duration' | translate }}: {{step.exec_start_time != 0 ?  (step.exec_end_time != 0 ? ((step.exec_end_time - step.exec_start_time)/1000/60 | number:2) + ' mins' : '0 seconds') : '0 seconds'}}</p>
						<span ng-if="($parent.$parent.$index + 6) / 5 + 1 == rownum" class="arrow2"><img src="images/arrow2.png" alt="" /></span>
					</div>
				</div>

				<!-- step end -->
				<div ng-if="num > $parent.$index + 5 && num < $parent.$index + 10" class=" work-section-grid desktop-two-point-four columns">
					<div class=" wow fadeInUp" data-wow-delay="{{wowdelay(num)}}s">
						<h3>{{ 'end' | translate }}</h3>
						<p class="step">{{ 'Duration' | translate }}: {{(duration/60 | number:2) + ' mins'}}</br>{{ 'MapReduce Waiting' | translate }}: {{(mrWaiting/60 | number:2) + ' mins'}}</p>
					</div>
				</div>

				<!-- step like 14 -->
				<div ng-if="num >= $parent.$index + 10" class="work-section-grid desktop-two-point-four columns" title="{{pops[steps[$index + 9].name]}}">
					<div class="wow fadeInUp" data-wow-delay="{{wowdelay($parent.$index + 9)}}s">
						<h3>{{ 'step' | translate }} {{$parent.$index + 10}}</h3>
						<p class="step">{{steps[$parent.$index + 9].name}}</p><p class="step" ng-if="steps[$parent.$index + 9].info.hdfs_bytes_written">{{ 'Data Size' | translate }}: {{dataSize(steps[$parent.$index + 9].info.hdfs_bytes_written)}}</p><p class="step">{{ 'Duration' | translate }}: {{steps[$parent.$index + 9].exec_start_time != 0 ?  (steps[$parent.$index + 9].exec_end_time != 0 ? ((steps[$parent.$index + 9].exec_end_time - steps[$parent.$index + 9].exec_start_time)/1000/60 | number:2) + ' mins' : '0 seconds') : '0 seconds'}}</p>
						<span class="arrow3" ng-if="($parent.$index + 6) / 5 + 1 != rownum"><img src="images/arrow3.png" alt="" /></span>
					</div>
				</div>
			</div>
			</div>
			</div>
		</section>

		<!-- End -->
		<section class="end">
			<div class="row wow bounceIn">
				<div class="twelve columns">
					<p>
						<a href="http://kylin.io" class="button-large withmargin3 white-border">{{ 'Visit kylin.io' | translate }}</a>
						<a href="#" class="button-large withmargin3 dark-bg">{{ 'View Kylin Web' | translate }}</a>
					</p>
				</div>
			</div>
		</section>

		<!-- Scripts -->
		<script src="js/lib/jquery.min.js"></script>
		<script src="js/lib/classie.js"></script>
		<script src="js/lib/smoothscroll.js"></script>
		<script src="js/lib/jquery.fittext.js"></script>
		<script src="js/lib/jquery.superslides.min.js"></script>
		<script src="js/lib/jquery.sudoslider.min.js"></script>
		<script src="js/lib/jquery.mixitup.min.js"></script>
		<script src="js/lib/jquery.magnific-popup.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/bubble.js"></script>
		<script src="js/submitquery.js"></script>
		<script src="js/angular.js"></script>
		<script src="js/ng-grid.js"></script>
		<script src="js/controller.js"></script>
		<script src="js/namesController.js"></script>
		<script src="js/ngLoading.js"></script>
		<script src="js/tabs.js"></script>
		<script src="js/jquery-ui.js"></script>
		<script>
		$(document).ready(function () {
			$('.tip1').tooltip({
				position: {
					my: "left top",
					at: "right+10 center"
				}
			});
			$('.tip2').tooltip({
				position: {
					my: "bottom",
					at: "top-15"
				}
			});
		});
		</script>
		<script src="js/moment.js"></script>
		<script src="js/d3.min.js"></script>
		<script src="js/nv.d3.js"></script>
		<script src="js/angularjs-nvd3-directives.js"></script>
		<script src="js/angular-translate.js"></script>
		</div>
	</body>
</html>